body{
    margin: 0;

}
*{
    object-fit: cover;
    box-sizing: border-box;
    font-size: clamp(0.8rem,1.3vw,1.5rem);
}
.nav-item a{
    color: black;
}
.jumbotron{
    background-color: #7550FE;
    max-height: 30%;
}
.jumbotron .row .col-12:last-of-type{
    background-image: url('./assets/assets/hero-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.jumbotron button:first-of-type{
    background-color: #1ACB98!important;
}
.icona {
    background-color: antiquewhite;
    border-radius: 50%;
    color: rgb(173, 100, 4);
 
}
.rating ion-icon{
    color: #FFAA46;
    cursor: pointer;
}

.navbar-toggler-icon {
    color: #7550FE;
    border: solid 1px #7550FE;
    border-radius: 15%; 
}
.email-badge {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background-color: #FFEEDA; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.ion-email {
    font-size: 24px; 
    color: #C28135;
}
.card:hover{
    transform: scale(1.1);
    transition-delay: 0.2s;
    box-shadow: 4px 10px 10px gray;

}
#email{
    background-color: rgba(211, 211, 211, 0.315);

}
#email span{
    background-color: #7550FE!important;
}
#email1 span{
    background-color: #1ACB98!important;
}
.absolute{
    left: 30px;
    top: 6px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: lightgray!important;
    border-radius: 50%;
}